<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Facial Recognition</title>
</head>
<body>

	<form method="POST" action="/submit-photo" enctype="multipart/form-data">
		<input type="file" accept="image/*" capture="camera">
		<button type="submit">Submit Photo</button>
	</form>

</body>
</html>