{% extends "base.html" %}

{% block content %}

<div id="tabs">
	<div id="testing-tab" class="tab testing active">
		Recognition
	</div>
	<div id="training-tab" class="tab training">
		Training
	</div>
</div>

<div id="content">
	<div id="testing-content" class="tab-content testing active">
			<input type="file" name="file" accept="image/*" capture="camera" id="photo-upload">
			<button type="submit" id="submit-button">Submit Photo</button>
	</div>

	<div id="training-content" class="tab-content training">
		Upload 10 photos to train the facial recognition
	</div>
</div>

{% endblock %}